@charset "UTF-8";

body {
    background-color: rgba(36, 170, 233, 0.568);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    line-height: 1em;
}

footer {
    color: white;
    font: italic;
    text-align: center;
}