@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    gap: 5vh; /*distância entre as divs*/
}

div#semaforo > img {
    height: 500px;
}

div#botoes > button {
    width: 80px;
    cursor: pointer;
}