@charset "UTF-8";

body {
    background-color: rgba(36, 170, 233, 0.568);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    height: 300px;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.274);
    line-height: 2em;
}

div#foto > img#imagem{
    border-radius: 50%;
    width: 190px;
    height: 190px;
    padding: 15px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}